<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538091932822-rjbulqaf5k9oea4rcql2lsgq83492rgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538091932822-rjbulqaf5k9oea4rcql2lsgq83492rgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538091932822-2n1e5g8rl25l7680ln1mlr7scjr27hbu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLGi6WfNMS9LKlHO0kMDiLS5BUJm0FEE8</string>
	<key>GCM_SENDER_ID</key>
	<string>538091932822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>webquiz.moazmar.com</string>
	<key>PROJECT_ID</key>
	<string>mighty-quiz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mighty-quiz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538091932822:ios:cb40a8e92484efd00646b7</string>
	<key>DATABASE_URL</key>
	<string>https://mighty-quiz-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>